.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.form__label {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primeri-text-color);

  margin-top: 10px;

  &--first {
    margin-top: 12px;
  }
}

.form__input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--title-text-color);

  padding-left: 42px;
  transition: border 250ms var(--main-cubic);

  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.form__thumb {
  position: relative;

  margin-top: 4px;
}

.form__textarea {
  resize: none;

  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--title-text-color);

  margin-top: 4px;
  padding: 12px 16px;

  transition: border 250ms var(--main-cubic);

  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.check {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__box {
    width: 16px;
    height: 15px;

    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    background-color: var(--main-bcg-color);
    background-image: url(../images/studio/icon-check.svg);
    background-position: center;

    margin-right: 8px;

    transition: background-color 250ms var(--main-cubic),
      border 250ms var(--main-cubic);

    .check__input:checked + & {
      background-color: var(--accent-color);
      border: 2px solid transparent;
    }
  }

  &_text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--primeri-text-color);
  }
}

.form__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.form__btn {
  display: flex;
  padding: 10px 55px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #188ce8;
  color: var(--main-bcg-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.form__icon {
  position: absolute;

  height: 18px;
  width: 18px;

  top: 50%;
  left: 12px;

  transform: translateY(-50%);
  fill: var(--title-text-color);

  transition: fill 250ms var(--main-cubic);

  .form__input:focus + & {
    fill: var(--accent-color);
  }
}
