:root {
  --primeri-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-bcg-color: #ffffff;
  --team-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --portfolio-border: #ececec;
  --team-link-color: #afb1b8;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --footer-icons-bg: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --main-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
