.clients {
  &__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.1785;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;

      font-size: 36px;
      line-height: 1.2;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 92px;

    border: 1px solid var(--team-link-color);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--team-link-color);

    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: var(--main-cubic);

    &:hover,
    &:focus {
      color: var(--accent-color);
      border: 1px solid var(--accent-color);
    }
  }

  &__icon {
    width: 106px;
    height: 60px;

    fill: currentColor;
  }

  &__item {
    margin: 15px;
    flex-basis: calc((100% - (2 * 30px)) / 2);

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - (3 * 30px)) / 3);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - (6 * 30px)) / 6);
    }
  }
}
