.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--footer-bcg-color);
  color: var(--main-bcg-color);
  text-align: center;
  letter-spacing: 0.06em;

  &--bg {
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        var(--hero-gradient),
        var(--hero-gradient)
      ),
      url(../images/studio/hero-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
  }

  &__title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
  }

  &__button {
    padding: 10px 32px;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}
