.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  // background-color: var(--footer-bcg-color);
  color: var(--main-bcg-color);
  text-align: center;
  letter-spacing: 0.06em;

  &--bg {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
      background-image: linear-gradient(
          var(--hero-gradient),
          var(--hero-gradient)
        ),
        url("../../images/mobile/studio/hero/mob_hero_480.jpg");

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 1600px;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url("../../images/mobile/studio/hero/mob_hero_960.jpg");
      }
      @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url("../../images/mobile/studio/hero/mob_hero_1440.jpg");
      }
    }

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          var(--hero-gradient),
          var(--hero-gradient)
        ),
        url("../../images/tablet/studio/hero/tab_hero_768.jpg");
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url("../../images/tablet/studio/hero/tab_hero_1536.jpg");
      }
      @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url("../../images/tablet/studio/hero/tab_hero_2304.jpg");
      }
    }

    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(
          var(--hero-gradient),
          var(--hero-gradient)
        ),
        url("../../images/desktop/studio/hero/desk_hero_1600.jpeg");
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url("../../images/desktop/studio/hero/desk_hero_3200.jpeg");
      }
      @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url("../../images/desktop/studio/hero/desk_hero_4800.jpeg");
      }
    }
  }

  &__title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.4;
    }

    text-transform: uppercase;
  }

  &__button {
    padding: 10px 32px;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}
